/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
li {
  list-style: none;
}

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
  background: #111;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* ---- page structure ---- */
.book {
  margin: auto;
  position: relative;
  height: 90vh;
  width: 95%;
  max-width: 1200px;
  opacity: 0.9;
}
.page {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
}
.page-img {
  height: 100%;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
}
.page-layer {
  position: absolute;
  height: 900px;
  width: 50%;
  border-radius: 30px;
  object-fit: cover;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  padding: 12px 24px;
  color: white;
  border-radius: 5px;
  opacity: 50%;
}
.btn:hover {
  opacity: 100%;
}
.btn:hover {
  cursor: pointer;
}

.btn-prev {
  left: 0;
  margin-left: 6px;
}

.btn-next {
  right: 0;
  margin-right: 6px;
}

.img-layer-right {
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 3%);
}

.img-layer-left {
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.8) 100%);
}

.default-position {
  transform: rotateY(0deg);
}

.rotate-next {
  transform: rotateY(-180deg);
}
.rotate-prev {
  transform: rotateY(180deg);
}
.right-img {
  perspective: 1000px;
  transform-origin: left center;
  transition: transform 0.5s;
}
.left-img {
  perspective: 1000px;
  transform-origin: right center;
  transition: transform 0.5s;
}

.left-cover {
  background-color: black;
  border-radius: 30px;
  height: 100%;
  width: 50%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 24px;
  color: white;
}

.text:hover {
  cursor: pointer;
}

.right-cover {
  background-color: gray;
  height: 100%;
  width: 50%;
}
.back-cover {
  background-color: black;
}

.btn-prev-last {
  border: 1px solid white;
}

@media (max-width: 450px) {
  #book {
    overflow: hidden;
  }
  .page {
    height: 80vh;
  }
}

#loader {
  width: 100px;
  border: 1px solid rgb(217, 174, 32);
  height: 10px;
  margin: 0 auto;
}

#loader-progress {
  width: 0%;
  height: 100%;
  background-color: rgb(217, 174, 32);
  animation: loader 2s infinite;
}
